/* @import "about.newtab.css"; */


@media (prefers-color-scheme: dark) {
    @-moz-document url-prefix("about:") {
        button, input, .initialized, :host, :root {
            --in-content-page-background: #222222 !important;
            --in-content-box-background: #333333 !important;
            --in-content-button-background: #333333 !important;
            --in-content-button-background-hover: #444444 !important;
            --in-content-table-background: #111111 !important;
            --newtab-background-color-secondary: #333333 !important;
        }
    }
}
